{{define "nav"}}
<nav class="global-nav" hx-boost="true">
    <a href="/" {{if eq .CurrentPage "home"}}class="active"{{end}}>Home</a>
    <a href="/blogs" {{if eq .CurrentPage "blogs"}}class="active"{{end}}>Blog</a>
    <a href="/finance" {{if eq .CurrentPage "finance"}}class="active"{{end}}>Finance</a>
    <a href="https://github.com/wsoule" target="_blank" rel="noopener">GitHub</a>
    <a href="https://linkedin.com/in/wyat-soule" target="_blank" rel="noopener">LinkedIn</a>
    <a href="/static/wyat_resume.pdf" target="_blank" rel="noopener">Resume</a>
</nav>
{{end}}
